<button class="menuOption">
  <div class="menuText" (click)="option.operation();option.dropdownOpen =false;$event.stopPropagation();" (mouseover)="option.dropdownOpen = true"
    (mouseout)="option.dropdownOpen = false">
    <p>
      {{option.name}}
    </p>
  </div>
  <div *ngIf="option.dropdown.length > 0">
    <button *ngFor="let subOption of option.dropdown; let i = index" class="dropdown"
      [style.top.px]="(position + i) * 29" [style.display]="option.dropdownOpen ? 'block':'none'"
      (mouseover)="option.dropdownOpen = true" (mouseout)="option.dropdownOpen = false"
      (click)="subOption.enabled && subOption.operation();option.dropdownOpen =false;$event.stopPropagation();">
      <div class="dropdownOption">
        <p>{{subOption.name}}</p>
      </div>
      <mat-divider></mat-divider>
    </button>

  </div>
</button>
