<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
  <div class="sidebar">
    <div class="newRouter">
      <label>
        Server List
      </label>
      <button (click)="sendPost();" id="addButton" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="routersList">
      <!-- <div class="routerInList" *ngFor="let router of routers"> 
        <label>
          {{router.name}}
        </label>
      </div> -->
    </div>

  </div>
  <div class="box-boundary" (contextmenu)="open($event); $event. preventDefault();">
    <div class="box-box" cdkDragBoundary=".box-boundary" cdkDrag>
      I can only be dragged within the dotted container
    </div>
  </div>

  <!-- <button mat-icon-button  aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button> -->
  <!-- <mat-menu #menu="menu"
    class="menuOpnBtn"
  >
  <button mat-menu-item *ngFor="let opn of menuOptions"><span>Disable alerts</span></button>> -->
  <!-- (click)="addTextTo(opn)" -->
  <!-- </mat-menu> -->

</div>
