<!DOCTYPE html>
<html>

<head>
	<title>Redes/Lab: Shell</title>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
	<script src="https://unpkg.com/jquery.terminal/js/autocomplete_menu.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css"/>
</head>

<body>
	<script>
		var authority = 'http://localhost:'+location.port+'/';
		var last = '';

		$('body').terminal({

		    $authority: function() 	{ return 'Router authority: '   + authority   },
		    $last: function()		{ return 'Last module port generated: '+ last },


		    // Facilitar minha vida testando. Moh mão fazer esse wire.
		    setup: async function() {
    			let target = ''

				let res = await fetch(
					'http://localhost:1010/install?object=module&port=1011'
				)
	    		res = await res.json()
		    	if (res.error != undefined) {
    				this.error(res.error)
    			} else 
    				last = res.content

    			try {
	    			res = await fetch(
	    				'http://localhost:1020/API/install?object=module&port=1021'
	    			)
	    			res = await res.json()
			    	if (res.error != undefined) {
	    				this.error(res.error)
	    				return
	    			} else {
	    				target = res.port
	    			}
    			} catch (e) {
    				this.error('Error on 1020 api request -> ' + e.message)
    				return
    			}
				try {
					res = await fetch(
						'http://localhost:1010/wire?object=module&index='+last+'&target='+target
					)
		    		res = await res.json()
			    	if (res.error != undefined) {
	    				this.error(res.error)
	    				return
	    			}
    			} catch (e) {
    				this.error("Error wiring modules -> " + e.message)
					return
    			}

    			return '\tdone'

		    },


		    ping: function(...args) {
		    	this.echo('On development')
		    },


		    tracert: function(...args) {
		    	this.echo('On development')
		    },
		    

		    install: async function(...args) {
		    	const options = $.terminal.parse_options(args)
		    	let urn = 'install'
		    	let params

    			if 		(args[0] == 'module') 	{ params = 'object=module' }
		    	else							{ this.error('Invalid argument'); return }
		    	try {
    				if (options.port) { params += '&port=' + options.port }
		    	} catch (e) { this.error(e) }

	    		let res = await fetch(authority + urn + '?' + params)
	    		res = await res.json()
    			
    			if (res.error != undefined) {
    				this.error(res.error)
    			} else {
    				last = res.content
	    			return "Generated module port: " + last
    			}
		    },


		    show: async function(...args) {
		    	let urn = 'list'
		    	let params
	    		let json

    			if 		(args[0] == 'module' ) { params = 'object=modules' }
    			else if (args[0] == 'ip' && args[1] == 'route') {
    				params = 'object=routes'
    			}
		    	else { this.error('Invalid argument'); return }
	    		
	    		let res = await fetch(authority + urn + '?' + params)
	    		res = await res.json()

		    	if(res?.error != undefined) {
		    		this.error(res.error);
		    	} else {
		    		return res.content
		    	}
		    },


		    start: function(...args) {
		    	const options = $.terminal.parse_options(args)
		    	let urn = 'start'
		    	let params
			
    			if(args[0] == 'module') {
    				params = 'object=module'
			    	if(args[1] == undefined) {
			    		this.error('Missing target parameter')
						return
			    	}
			    	if(args[1] == '$last') {
			    		if(last == "") {
							this.error('$last is not defined.')
							return;
						}
						args[1] = last
					}
    				params += '&target=' + args[1];
    			}
		    	else { this.error('Invalid object'); return }

	    		fetch(authority + urn + '?' + params)
					.then(res => res.text());
		    },


		    kill: function(...args) {
		    	const options = $.terminal.parse_options(args)
		    	let urn = 'kill'
		    	let params
			

    			if(args[0] == 'module') {
			    	if(args[1] == undefined){
			    		this.error('Missing target parameter')
						return
			    	}
			    	if(args[1] == '$last') {
			    		if(last == "") {
							this.error('$last is not defined.')
							return;
						}
						args[1] = last
					}
    				params = 'object=module&target=' + args[1];
    			}
		    	else { this.error('Invalid object'); return }

	    		fetch(authority + urn + '?' + params)
					.then(res => res.text());
		    },


			remove: function(...args) {
		    	const options = $.terminal.parse_options(args)
		    	let urn = 'remove'
		    	let params
			

    			if(args[0] == 'module') {
			    	if(args[1] == undefined){
			    		this.error('Missing target parameter')
						return
			    	}
			    	if(args[1] == '$last') {
			    		if(last == "") {
							this.error('$last is not defined.')
							return;
						}
						args[1] = last
					}
    				params = 'object=module&target=' + args[1];
    			}
		    	else					{ this.error('Invalid object'); 	return 	  }

	    		fetch(authority + urn + '?' + params)
					.then(res => res.text());
		    },


			send: async function(...args) {
		    	const options = $.terminal.parse_options(args)
		    	let urn = 'send'
				let params

    			if(args[0] == 'message') {
		    		params = 'object=message&'
			    	if(args[1] == undefined){
			    		this.error('Missing destination parameter')
						return
			    	}
			    	if(args[2] == 'to') {
				    	if(args[3] == undefined){
				    		this.error('Missing destination parameter')
							return
				    	}
			    	} else {
			    		this.error('Missing connection separator (to)');
			    		return
			    	}


					if(args[1] == '$last' || args[3] == '$last') {
						this.error('Internal messages do not need to be sent')
					}

    				params += 'destination=' + args[3] + '&' ;
    				params += 'content='+ args[1]	   ;
    			}
		    	else { this.error('Invalid action'); return }

	    		let res = await fetch(authority + urn + '?' + params)
	    		res = await res.json()

		    	if(res.error != undefined) {
		    		this.error(res.error);
		    	}
		    },


			wire: async function(...args) {
		    	const options = $.terminal.parse_options(args)
		    	let urn = 'wire'
				let params

				if (args[1] == undefined) {
		    		this.error('Missing index parameter')
					return
		    	} else if (args[1] == '$last') {
					if(last == "") {
						this.error('$last is not defined.')
						return;
					}
					args[1] = last
				}

    			if (args[0] == 'module') {
		    		params = 'object=module&'
			    	
			    	if(args[2] == 'on') {
				    	if(args[3] == undefined){
				    		this.error('Missing target parameter')
							return
				    	}
			    	} else {
			    		this.error('Missing connection separator (on)');
			    		return
			    	}					
					if(args[3] == '$last') {
						this.error('Can not wire on self module.')
					}

					params += 'index='  + args[1];
    				params += '&target='+ args[3];
    			} else if (args[0] == 'cut') {
		    		params = 'object=cut&index='+args[1]
    			}
		    	else { this.error('Invalid object'); return }

	    		let res = await fetch(authority + urn + '?' + params)
	    		res = await res.json();

		    	if(res.error != undefined){
		    		this.error(res.error);
		    	}
		    },

		    health: async function(...args) {
		    	const options = $.terminal.parse_options(args)
		    	let port

				if (options.port) {
					port = options.port + '/API'
				}
				else port = location.port


				let res = await fetch(
					'http://localhost:'+port+'/health'
				)
	    		res = await res.json()

		    	if(res.content != undefined){
		    		this.echo(res.content);
		    	}	    		
		    },


		    curl: async function(...args) {
		    	let url = args[0]
		    	if (!url.startsWith("http://"))
		    		url = 'http://' + args[0]
		    	
		    	const request = new Request(url);
	    		let res = await fetch(request)
	    		res = await res.json()
    			
    			if (res.error != undefined) {
    				this.error(res.error)
    			} else {
	    			return res
    			}
		    },


		    cls: function() {
		        this.exec('clear');
		        this.echo('Redes de computadores & Laboratorio de redes,\n'+
						  'RELEASE CLI, API -> Port forwarding')
		    },


		    help: function(){
		    	this.echo(
		    		">> Help section ~"
		    		
		    		+	"\n [...] Optiona params"
		    		+	"\n <...> Needed params"
		    		+	"\n objects: module | ..."
		    		+	"\n target:  socket | ..."

		    		+	"\n\n > cls"
		    		+	"\n Clear the terminal;" 
		    
		    		+	"\n\n > ping"
		    		+	"\n On development;"
		    		
		    		+	"\n\n > tracert"
		    		+	"\n On development;"
		    		
		    		+	"\n\n > show <object> <target>"
		    		+	"\n Clear the terminal;"
		    		
		    		+	"\n\n > install <object>"
		    		+	"\n Install the new object and return the ID;"
		    		
		    		+	"\n\n > list <object>"
		    		+	"\n List all objects of the firmware;"

		    		+	"\n\n > start <object> <target>"
		    		+	"\n Call the inactive object to run again;"

		    		+	"\n\n > kill <object> <target>"
		    		+	"\n Finalize the object target;"

		    		+	"\n\n > remove <object> <target>"
		    		+	"\n Kill the object and remove from firmware;"
		    		
	    		);
		    },




		}, {
			checkArity: false,
			completion: true,
		    greetings: 	'Redes de computadores & Laboratorio de redes,\n'+
						'RELEASE CLI, API -> Port forwarding' +
						'\n=> Type help see the commands list'
		});
	</script>
</body>

</html>