<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
  <div class="sidebar">
    <div class="newRouter">
      <label>
        Server List
      </label>
      <button (click)="sendPost();" id="addButton" mat-mini-fab color="primary"
        aria-label="Example icon button with a menu icon">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="routersList">
      <div class="routerInList" *ngFor="let router of routers">
        <label>
          {{router.name}}
        </label>
      </div>
    </div>
  </div>

  <!-- THis div below represents alls ROUTERS -->
  <div class="box-boundary" (click)="disableContextMenu()" (contextmenu)="$event.preventDefault();">
    <div *ngFor='let router of routers' [style.width.px]="77">
      <app-router [router]=router (contextmenu)="open($event, router); $event.preventDefault();">
      </app-router>
    </div>
  </div>

  <!-- This div below represents the CONTEXT MENU, Appears when using the RIGHT BUTTON -->
  <div *ngIf="contextMenu">
    <app-context-menu [x]="contextMenuX" [y]="contextMenuY" [router]="router"></app-context-menu>
  </div>

</div>