
<div class="screen">
    
    <div class="toolsbar">
        <div>
            <input [(ngModel)] = "newStateName" type="text"/>
            <button type="button" class="btn btn-dark" (click)="newState()">new</button>
        </div>
    </div>

    <div class="blueprint">

        <div class="state" (contextmenu)="open($event, state); $event. preventDefault();"
            cdkDrag
            cdkDragBoundary=".blueprint"
            *ngFor="let state of states"
            >
            {{state.id}}
        </div>

        <ng-template #stateMenu let-state>
            <section class="state-menu">
                <div (click)="delete(state)">Delete</div>
                <div>Send to</div>
            </section>
        </ng-template>
    </div>

</div>

<!-- <div class="state"
cdkDrag
cdkDragBoundary=".blueprint"
>
    q0
</div> -->

<!-- [cdkDragStartDelay]="500" -->