<div style = "display: flex;">

    <div cdkDropList
    [cdkDropListData]="numbers"
    (cdkDropListDropped) = "drop($event)"
    [cdkDropListConnectedTo] = "otherList"
    #firstList = "cdkDropList"
    class="drop_item" 
    >
        <div cdkDrag *ngFor="let number of numbers" class="item">{{number}}</div>
    </div>

    <div cdkDropList
    [cdkDropListData]="otherNumbers"
    (cdkDropListDropped) = "drop($event)"
    [cdkDropListConnectedTo] = "firstList"
    #otherList = "cdkDropList"
    class="drop_item" 
    >
        <div cdkDrag *ngFor="let number of otherNumbers" class="item">{{number}}</div>
    </div>

</div>