.item{
    height: 75px;
    width: 100%;
    border: 1px solid red;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.drop_item{
    width: 50%;
    border: 1px solid blueviolet;
}